.editBtn,
.deleteBtn {
  margin-bottom: 1em;
  background: $accent-color;
  color: white;
  font-family: "Roboto";
  font-size: 0.9em;
  border: none;
  padding: 0.4em;
  border-radius: 3px;
  margin-top: 0.4em;
  cursor: pointer;
}

.submitBtn {
  margin-bottom: 1em;
  background: $secondary-color;
  color: white;
  font-family: "Roboto";
  font-size: 1.2em;
  border: none;
  padding: 0.5em;
  border-radius: 3px;
  margin-top: 0.4em;
  cursor: pointer;
}
